.aboutHome {
  height: auto;
  background-color: #1f4761;
  border-top: 2px solid rgb(192, 191, 191);
  border-bottom: 2px solid rgb(192, 191, 191);
}

section{
  margin: 0px 0px 10px 0px;
}

.aboutHome h1{
  color: rgb(220, 217, 217); 
}

.aboutHome #heading {
  text-align: left;
  padding: 0;
}
.aboutHome .left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutHome .right {
  padding: 80px 50px;
}
.aboutHome .items {
  margin-top: 50px;
}
.aboutHome .item {
  background-color: #fff;
  border: 3px solid rgb(17, 92, 9);
  margin-top: 30px;
  padding: 20px;
  transition: 0.5s;
  border-radius: 3px 3px 10px 3px;
}
.aboutHome .img {
  width: 200px;
}
.aboutHome img {
  width: 70px;
  height: 70px;
  
}
.aboutHome .item h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: rgb(35, 34, 34);
}
.aboutHome .item p {
  color: #2b630f;
}

.aboutHome .item:hover h2{
  color: rgb(7, 54, 7);
}

.aboutHome .item:hover {
  background-color: #409e06;
  color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  border-radius: 7px 40px 40px 20px;
  border: 3px solid rgb(71, 69, 69);
}
.aboutHome .item:hover p {
  color: rgb(255, 255, 255);
}
/*----------awrapper------------*/
.awrapper {
  background-image: url("../../../public/images/awrapper.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  color: rgb(64, 153, 144);
}
.awrapper .box {
  padding: 70px 0;
}
.awrapper img {
  margin-right: 30px;
}
.awrapper h1 {
  font-size: 50px;
  -webkit-text-stroke: 1px white;
}
.awrapper h3 {
  font-size: 20px;
  font-weight: 500;
}
/*----------awrapper------------*/
@media screen and (max-width: 768px) {
  .aboutHome .container {
    flex-direction: column-reverse;
  }
  .aboutHome .row {
    width: 100%;
  }
  .awrapper {
    height: 110vh;
  }

  .aboutHome .item {
    background-color: #fff;
    border: 3px solid rgb(9, 107, 19);
    margin-top: 30px;
    padding: 2px;
    transition: 0.5s;
    border-radius: 3px 3px 10px 3px;
  }


.text {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text p {
  font-size: 17px;
}

}

