.blog img {
  width: 100%;
  height: 100%;
  border-radius: 30px 10px;
}

.blog .items {
  background-color: #131313;
  padding:10px;
  border: 3px solid rgb(81, 78, 78);
  border-radius: 30px 10px;
}

.blog .text {
  padding: 40px 30px;
}
.blog h1 {
  font-weight: 500;
  font-size: 34px;
  line-height: 60px;
  margin: 20px 0;
  transition: 0.5s;
  color: rgb(213, 212, 212);
}
.blog h1:hover {
  color: #b43232;
  cursor: pointer;
}
.blog span {
  text-transform: uppercase;
  font-weight: 500;
  color: #b43232;
}
.blog span label {
  margin-left: 10px;
  color: rgb(221, 221, 221);
  font-size: 14px;
}
.blog span:nth-last-child(1) label {
  color: #b43232;
}
.blog p {
  color: rgb(205, 198, 198);
}

.blog {
  background-color: rgba(255, 68, 0, 0.758);
  padding-bottom:90px;
}